//------------------------------------//
//  Import fonts
//------------------------------------*/


//------------------------------------//
//  Typography
//------------------------------------*/

body
  font-size: $font-size
  line-height: $line-height
  font-weight: $font-weight
  font-family: $font-family
  color: $clr-text
  text-rendering: optimizeLegibilitycolor
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased
  -moz-font-smoothing: antialiased
  -ms-font-smoothing: antialiased
  -o-font-smoothing: antialiased

//------------------------------------//
//  Headings
//------------------------------------*/

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
  margin-bottom: $spacer
  margin-top: 0
  font-family: $heading-family
  font-weight: $heading-weight
  letter-spacing: .05em

  //------------------------------------//
  //  TODO: write heading sizes to vars
  //------------------------------------*/
  
h1,
.h1
  font-size: 4.8rem
  line-height: 6rem

h2,
.h2
  font-size: 3.6rem
  line-height: 4.8rem

h3,
.h3
  font-size: 2.8rem
  line-height: 3.6rem

h4,
.h4
  font-size: 2.2rem
  line-height: 3.6rem

h5,
.h5
  font-size: 1.8rem
  line-height: 2.4rem

h6,
.h6
  font-size: 1.4rem
  line-height: 2.4rem
  letter-spacing: 0



// Paragraphs
p
  margin-bottom: $spacer
  word-break: break-word
  word-wrap: break-word

  &:last-child
    margin-bottom: 0


.text--leader
  font-size: 1.6rem
  line-height: 2.6rem
  font-weight: bold
  font-style: italic
  font-family: $baskervilled-family
  letter-spacing: .1em

// Meta
.text--meta
  color: $clr-text
  text-transform: uppercase
  font-weight: 400
  letter-spacing: .1em
  font-size: 1.1rem

// Small
.text--small,
small
  font-size: 85%

.text--size--reset
  font-size: $font-size
  line-height: $line-height

.text--smaller
  font-size: 1.2rem
  line-height: 1.8rem

.text--bigger
  font-size: 1.8rem
  line-height: 2.4rem


//------------------------------------//
//  Colors
//------------------------------------*/

.color--main
  color: $clr-main

.color--alt
  color: $clr-alt

.color--faded
  color: $clr-text-faded

.color--text
  color: $clr-text

.color--black
  color: black

.color--white
  color: white


// Strong
strong,
.text--strong
  font-weight: 600

// Bold
b,
.text--bold
  font-weight: bold



// Reset lists for global styling

ul, ol
  margin: 0
  padding: 0
  list-style: none

// Add styling for text content:

.content--text
  //------------------------------------//
  //  Has trailers
  //------------------------------------//
  ul, ol, dl
    margin-bottom: $spacer

  ul
    list-style-type: disc
    padding-left: $spacer/2

    ul
      list-style-type: circle
      padding-left: $spacer/2

  ol
    list-style-type: decimal
    padding-left: $spacer/2

    ol
      list-style-type: lower-latin
      padding-left: $spacer/2