.footer--global

  .footer-inner
    padding-top: 7rem
    padding-bottom: 6rem
    padding-left: $spacer
    padding-right: $spacer
    max-width: $footer-container
    margin-left: auto
    margin-right: auto

    +breakpoint-down(sm)
      padding: $spacer*2

  .footer-column
    flex: 1 1 auto

  .footer-columns
    display: flex
    flex-flow: row nowrap

    +breakpoint-down(sm)
      flex-flow: column nowrap

  .footer-column
  .footer-column--left
    margin-right: 16%
    flex: 1 1 auto

    +breakpoint-down(sm)
      margin-right: 0
      margin-bottom: 0
      order: 2

  .footer-column--right
    max-width: 32rem
    flex: 0 0 32rem

    +breakpoint-down(sm)
      max-width: none
      flex: 1 1 auto
      order: 1


.footer-bottom
  display: flex

  +breakpoint-down(sm)
    flex-flow: row wrap
    align-items: flex end

    .footer-address
      flex: 1 1 100%

    .social
      flex: 0 0 auto

    .logo
      margin-right: 0
      margin-left: auto
      flex: 0 0 auto


  +breakpoint-up(lg)
    align-items: flex-end

