.header--global
  position: fixed
  top: 0
  left: 0
  width: 100%
  z-index: 100
  max-height: 100%

  .header-inner
    position: relative
    width: 100%
    height: 100%
    // display: flex
    // flex-flow: row nowrap
    // align-items: flex-end
    // justify-content: center
    display: grid
    grid-template-columns: 1fr 3fr 1fr
    grid-template-areas: "logo nav headerAside"
    height: $header-height

    +breakpoint-down(lg)
      display: flex
      flex-flow: row wrap

    // +breakpoint-down(sm)
    +breakpoint(false,920px)
      height: auto
      min-height: $header-height
      // display: flex
      // flex-flow: row wrap

    +breakpoint-down(sm)
      padding-left: $spacer
      padding-right: $spacer
      // display: grid
      // grid-template-columns: 1fr 1fr 1fr
      // grid-template-rows: 1fr auto
      // grid-template-areas: "navToggle logo headerAside" "nav nav nav"

      // .header-search--active &
      //   grid-template-areas: "headerAside headerAside headerAside" "nav nav nav"


  .header-aside
    display: flex
    flex-flow: row nowrap
    margin: auto 0 auto auto
    grid-area: headerAside

    // +breakpoint-down(sm)
    +breakpoint(false,920px)
      flex: 0 0 auto
      order: 2
      margin-left: auto
      margin-right: 0

    +breakpoint-down(sm)
      position: absolute
      right: 2rem
      top: 50%
      transform: translateY(-50%)
      justify-content: flex-end

      .header-search--active &
        width: calc(100% - 4rem)

