.accordion-header
  position: relative
  margin: 0
  display: flex
  flex-flow: row nowrap
  align-items: center
  padding: $spacer/4 0
  border-top: 1px solid $clr-main
  font-weight: bold
  font-style: italic
  font-family: $serif-family
  font-size: $font-size
  line-height: 2.8rem

.ui-accordion-header
  cursor: pointer
  .ui-icon
    position: absolute
    right: 0
    top: 50%
    transform: translateY(-50%)
    +retina-image('arrow-down.png')

  &.ui-state-active
    .ui-icon
      transform: translateY(-50%) rotate(180deg)

.ui-accordion-content
  padding: $spacer 0