.blockquote-widget
  min-height: 50vh
  display: flex
  flex-flow: row nowrap
  align-items: center
  justify-content: center
  width: 100%
  padding: $spacer

  .blockquote-widgetContainer
    display: flex
    flex-flow: column nowrap
    align-items: center
    justify-content: center
    padding: $spacer*2
    align-self: stretch
    margin-left: auto
    margin-right: auto
  
  .blockquote-cite
    font-family: $serif-family
    font-weight: bold
    font-style: italic
    font-size: 1.8rem
    line-height: 1.75
    letter-spacing: .1em

  .blockquote-author
    font-size: 1.2rem
    font-weight: 500
    letter-spacing: .1em
    text-transform: uppercase
