.catalog--nav
  .catalog-title,
  .catalog-subtitle
    text-transform: uppercase
    font-style: italic
    font-family: $baskervilled-family
    color: $clr-main

  .catalog-title
    margin-bottom: $spacer
    font-size: 2.8rem
    line-height: 1.1

  .catalog-subtitle
    margin-bottom: $spacer/2
    font-size: 1.6rem