.checkbox
  position: relative
  line-height: 1.6rem

  input[type="checkbox"]
    position: absolute
    width: 0
    height: 0
    clip: rect(0,0,0,0)
    overflow: hidden
    top: -999em
    left: -999em
    opacity: 0

  label
    position: relative
    display: block
    padding-left: 2.5rem

    &:before,
    &:after
      content: ''
      position: absolute
      transition-property: all
      transition-duration: 150ms
      transition-timing-function: ease-out

    &:before
      top: 0
      left: 0
      width: 1.6rem
      height: 1.6rem
      background: rgba(white,.5)
      border-radius: .2em

    &:after
      z-index: 1
      left: .2rem
      top: .2rem
      +retina-image('check.png')
      opacity: 0
      visibility: hidden

  input[type="checkbox"]:checked + label
    &:before
      background: $clr-main

    &:after
      opacity: 1
      visibility: visible
