.contacts
  white-space: nowrap
  display: flex
  min-height: $contacts-container

.contacts-phone
  font-family: $baskervilled-family
  font-size: 1.6rem
  font-style: italic
  line-height: 1.2
  font-weight: bold
  letter-spacing: .05em

.contacts-info
  display: flex
  flex-flow: column nowrap
  justify-content: flex-end
  padding-bottom: 0.8rem
  text-align: right
  transition: all 150ms linear
  max-width: 16rem

  .header-search--active &
    opacity: 0
    visibility: hidden
    max-width: 0

.contacts-workHours
.contacts-workHoursToggle
  font-size: 1.1rem
  letter-spacing: .05em
  font-weight: 500


.contacts-icon--phone
  align-self: center
  margin-right: $spacer/2
  +retina-image('phone.png')
  transition: all .4s ease

.contacts-icon--arrowDown
  display: inline-block
  vertical-align: middle
  margin-left: $spacer/4
  transition: all .4s ease
  +retina-image('arrow-down.png')


.contacts-workHoursDropdown
  position: absolute
  white-space: nowrap
  right: 0
  // transform: translateX(-50%)
  top: 100%
  min-width: 20rem
  background: #181A1C
  padding: $spacer
  margin-top: 0.8rem
  text-align: left
  font-size: 1.1rem
  letter-spacing: .05em
  font-weight: 500


.header-aside
  .contacts
    color: $clr-main
  .contacts-info
    padding-right: $spacer