input[type="text"],
.input--text
  display: block
  position: relative
  padding: 1.25em
  line-height: 1em
  font-size: 1.2rem
  font-weight: 600
  font-family: $font-family
  border: 0
  background: transparent
  border: 1px solid rgba($clr-main,.75)
  border-radius: .1em
  color: white

  &:focus
    outline: 0

  +placeholder
    color: white
    font-size: 1.2rem
    font-weight: 500
    letter-spacing: .1em

.input--white
  border-color: white
  text-align: center
  color: white