.header--global
  background: $clr-header-background
  transition-property: all
  transition-duration: 150ms
  transition-timing-function: ease-out-out

  .subnav--opened &
    background: $clr-subnav-background

  +breakpoint-down(sm)
    &,
    .subnav--opened &
      background: $clr-header-background--mobile