.list
.list--bordered
  .list-title
    padding: $spacer/2 0
    min-height: 3.2rem
    border-bottom: 1px solid $clr-main
    font-weight: bold
    font-style: italic
    font-family: $serif-family
    font-size: $font-size    

  .list-item
    position: relative
    margin: 0
    display: flex
    flex-flow: row nowrap
    align-items: center
    padding: $spacer/4 0
    min-height: 3.2rem
    border-top: 1px solid $clr-main
    font-weight: bold
    font-style: italic
    font-family: $serif-family
    font-size: $font-size
    line-height: 2.8rem
    overflow: auto


+breakpoint-up(md)
  .list--2columns
    columns: 2
    column-gap: $spacer

  .list--3columns
    columns: 3
    column-gap: $spacer