$logo--header-width: image-width('../images/1x/logo.png')
$logo--header-height: image-height('../images/1x/logo.png')

.logo
  display: inline-block
  vertical-align: top
  grid-area: logo
  background-image: url(../images/1x/logo.png)
  width: $logo--header-width
  height: $logo--header-height
  background-size: 100%

  +retina
    background-image: url(../images/2x/logo.png)

  // +breakpoint-down(sm)
  +breakpoint(false,920px)
    flex: 0 0 auto
    order: 1

  +breakpoint-down(sm)
    margin-left: auto
    margin-right: auto
    // position: absolute
    // left: calc(50% - #{$logo--header-width/2})

.logo--header
  margin: auto 0

  +breakpoint-down(sm)
    margin-left: auto
    margin-right: auto
    position: absolute
    top: 50%
    left: calc(50% - 3.05rem)
    transform: translateY(-50%)

    .header-search--active &
      display: none