.media-item

.media-image
  margin-bottom: $spacer

.media-body
  overflow: auto

.media-header
  margin-bottom: $spacer/2

  &:last-child
    margin-bottom: 0

.media-title
  margin-bottom: $spacer/4
  font-size: 1.8rem
  line-height: 1.25
  letter-spacing: .05em
  font-style: italic
  font-family: $baskervilled-family

.media-subtitle
  font-size: 1.4rem
  line-height: 1.25
  font-family: $baskervilled-family
  font-style: italic
  font-weight: bold
  letter-spacing: .05em

.media-item--small
  .media-title
    font-size: 1.4rem

  .media-subtitle
    font-size: 1.1rem


// .media-item--imageLeft
// 
  // .media-image
    // margin-bottom: 0
    // margin-right: $spacer
  




//------------------------------------//
//  Wrapped in navigation
//------------------------------------*/

.media-item
  .media-title,
  .media-subtitle,
  .media-text
    color: $clr-main