.nav--global
  margin: auto auto 0
  grid-area: nav

  // +breakpoint-down(sm)
  +breakpoint(false,920px)
    flex: 1 1 100%
    order: 3

  +breakpoint-down(sm)
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    overflow: auto
    background: $clr-header-background--mobile
    z-index: 12
    padding: $spacer*4 $spacer*2 0

    body:not(.nav-mobile--opened) &
      display: none


  > .nav-list
    display: flex
    flex-flow: row nowrap
    justify-content: center

    +breakpoint(false,920px)
      justify-content: stretch

    +breakpoint-down(sm)
      flex-flow: column nowrap
      justify-content: space-between

    +breakpoint-down(sm)
      margin-bottom: $spacer*2
      max-width: 40rem
      margin-left: auto
      margin-right: auto

  > .nav-list > .nav-item
    +breakpoint(false,920px)
      flex: 1 1 auto

    +breakpoint-down(sm)
      border-bottom: 1px solid rgba($clr-main,.45)
      &.nav-item--active
        border-bottom-color: rgba($clr-main,0)


  > .nav-list > .nav-item > .nav-link
    position: relative
    display: block
    text-transform: uppercase
    color: white
    line-height: 1
    padding: 1.6rem 0
    margin: 0 2.5rem
    font-size: 1.2rem
    font-weight: 500
    letter-spacing: .1em

    +breakpoint(920px,1100px)
      margin: 0 1.5rem
      text-align: center

    +breakpoint-down(sm)
      letter-spacing: .2em
      font-weight: 400
      font-size: 1.4rem
      text-align: center
      margin: 0
      padding: $spacer*2 $spacer

      &:before
        content: ''
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%) scale(.75)
        +retina-image('arrow-right--white.png')
      

    &:after
      content: ''
      position: absolute
      left: 50%
      top: 100%
      margin-top: -1.2rem
      transform: translateX(-50%)
      width: 100%
      max-width: 0
      overflow: hidden
      height: 1px
      background: white
      opacity: 0
      transition: max-width .5s ease,opacity .5s ease

      +breakpoint-down(sm)
        display: none

  > .nav-list > .nav-item:hover,
  > .nav-list > .nav-item--active
    > .nav-link:after
      max-width: 100%
      opacity: 1


  +breakpoint-down(sm)
    > .nav-list > .nav-item > .nav-subnav
      display: none
      transition: all 100ms linear
      opacity: 0

    > .nav-list > .nav-item--hasSubnav.nav-item--active > .nav-subnav
      display: block
      opacity: 1

  +breakpoint-up(md)
    > .nav-list > .nav-item > .nav-subnav
      position: absolute
      top: 100%
      left: 0
      width: 100%
      background: black
      width: 100vw
      max-height: calc(100vh - 6.4rem)
      overflow: auto
      margin-left: calc(-50vw + 50%)
      margin-right: calc(-50vw + 50%)
      background-color: $clr-subnav-background
      padding: 5rem 0 10rem
      opacity: 0
      visibility: hidden

      body:not(.subnav--opened) &
        transform: translateY(-15px)
        transform: translate3d(0,-15px,0)
        transition: all .3s ease-out


    > .nav-list > .nav-item--hasSubnav.nav-item--active > .nav-subnav
      opacity: 1
      visibility: visible

      body:not(.subnav--opened) &
        transform: translateY(0)
        transform: translate3d(0,0,0)

      body.subnav--opened.subnav--closing &
        transform: translateY(-15px)
        transform: translate3d(0,-15px,0)
        opacity: 0
        visibility: hidden
        transition: all .3s ease-out


  .nav-columns
    display: flex
    flex-flow: row wrap
    margin-left: -3.5rem
    margin-right: -3.5rem

    +breakpoint-down(sm)
      margin-left: 0
      margin-right: 0
      flex-flow: column nowrap
      padding: 0 0 3rem 0

    .nav-column
      padding-left: 3.5rem
      padding-right: 3.5rem

      +breakpoint-down(sm)
        padding-left: 0
        padding-right: 0
        padding-top: 1.25rem
        padding-spacer: 1.25rem

    .nav-column--1of3
      flex: 0 1 calc(100% / 3)

    .nav-column--2of3
      flex: 0 1 calc(100% / 3 * 2)

    .nav-column--1of2
      flex: 0 1 50%

    .nav-column--2of2
      flex: 0 1 100%

    // Deeper level
    .nav-columns
      margin-left: -2.5rem
      margin-right: -2.5rem

      .nav-column
        padding-left: 2.5rem
        padding-right: 2.5rem

    .nav-column--active
      order: -1


  > .nav-list > .nav-item > .nav-subnav > .nav-subnavInner
    max-width: $header-container
    width: 100%
    margin-left: auto
    margin-right: auto

  > .nav-subnavClose
    z-index: 13
    position: fixed
    right: $spacer
    top: 3rem
    transition: all .4s ease
    +retina-image('close.png')

    +breakpoint-down(sm)
      display: none

    &:before
      content: ''
      top: -1rem
      bottom: -1rem
      left: -1rem
      right: -1rem
      position: absolute

    body.subnav--opening &,
    body.subnav--opened &
      visibility: visible
      opacity: 1
    &,
    body.subnav--closing &
      opacity: 0
      visibility: hidden
      transition: all .4s ease

  
  .nav-title
    margin-bottom: 0
    border-bottom: 1px solid rgba($clr-main,.5)
    line-height: 2
    letter-spacing: 0
    text-transform: uppercase
    font-style: italic
    padding-top: $spacer/4
    padding-bottom: $spacer/4
    color: $clr-main


  .nav-aside
    max-width: 40rem
    margin-left: auto
    margin-right: auto
    margin-bottom: $spacer*4

    +breakpoint-up(md)
      position: fixed
      height: 0
      left: 0
      max-width: none
      width: 100%
      margin-bottom: 0
      opacity: 0
      visibility: hidden
      transition: all .3s ease-out

      body.subnav--opened &
        opacity: 1
        visibility: visible

      body.subnav--opened.subnav--closing &
        opacity: 0
        visibility: hidden

  .nav-asideWrap
    display: flex
    align-items: center
    justify-content: space-between


  +breakpoint-up(md)
    .nav-asideInner
      position: relative
      max-width: $header-container
      width: 100%
      margin-left: auto
      margin-right: auto

    .nav-asideWrap
      position: absolute
      left: 100%
      left: calc(100% + #{$spacer})
      top: 5rem
      white-space: nowrap



  > .nav-list > .nav-item:nth-of-type(1) > .nav-subnav .nav-subnavInner
    position: relative

    &:after
      content: ''
      position: absolute
      bottom: 0
      left: 100%
      +retina-image('header-map.png')
      +breakpoint-down(sm)
        display: none


//------------------------------------//
//  Nav list
//------------------------------------*/


.nav--list
  .nav-list
  .nav-item
    display: block

  .nav-link
    display: block
    padding: 1rem .2rem
    font-size: 1.4rem
    line-height: 2rem
    border-bottom: 1px solid rgba($clr-main,.5)
    text-transform: none
    font-weight: bold
    font-style: italic
    letter-spacing: .1em
    font-family: $baskervilled-family
    color: $clr-main

    &:hover
      text-decoration: none
      color: white


.nav-subnav .nav--list
  +breakpoint-down(sm)
    margin: $spacer 0

    .nav-link
      text-align: center
      color: white
      border-bottom: 0

//------------------------------------//
//  Footer nav
//------------------------------------*/

.nav--footer
  .nav-item
    display: block
  .nav-link
    display: block
    line-height: 2


/*------------------------------------//
//  Inner page nav
//------------------------------------*/
.nav-page
  position: relative
  background: white

  +breakpoint-up(lg)
    opacity: 1 !important
    visibility: visible !important

  +breakpoint-down(md)
    position: absolute
    left: 0
    right: 0
    top: 100%


  > div
    display: flex
    flex-flow: row nowrap

    +breakpoint-down(md)
      flex-flow: column nowrap
      padding-left: 0
      padding-right: 0

  .button--navPage
    margin-right: 0
    margin-left: 0
    display: inline-flex
    flex-flow: row nowrap
    align-items: center
    justify-content: center

    +breakpoint-down(md)
      margin: $spacer/2


.nav-pageToggle
  display: none
  text-transform: uppercase
  line-height: 1.4rem
  padding: 1.5rem 10%
  font-size: 1.2rem
  font-weight: 500
  letter-spacing: .1em
  color: black

  +breakpoint-down(md)
    display: block


.nav--page
  margin-right: $spacer*3
  margin-left: auto

  +breakpoint-down(lg)
    margin-right: $spacer

  +breakpoint-down(md)
    margin-left: 0
    margin-right: 0

  .nav-list
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: center

    +breakpoint-down(md)
      flex-flow: column nowrap
      align-items: stretch
      text-align: center
      border-top: 1px solid $clr-main

  .nav-list > .nav-item > .nav-link
    position: relative
    display: block
    text-transform: uppercase
    line-height: 1.4rem
    padding: 2.5rem 0
    margin: 0 1.5rem
    font-size: 1.2rem
    font-weight: 500
    letter-spacing: .1em
    color: $clr-main

    +breakpoint-down(lg)
      margin-left: 1rem
      margin-right: 1rem
      letter-spacing: 0
    
    +breakpoint-down(md)
      padding: 1.5rem 10%
      margin: 0
      border-bottom: 1px solid $clr-main
      color: $clr-text-faded
      text-align: left

    &:after
      content: ''
      position: absolute
      left: calc(50% - .5rem)
      bottom: 1.5rem
      width: 1rem
      height: 1px
      background: black
      opacity: 0
      visibility: hidden
      transition: all .15s linear

      +breakpoint-down(md)
        display: none

  .nav-list > .nav-item > .nav-link:hover
    color: black

    &:after
      opacity: 1
      visibility: visible



.nav-toggle
  width: 5rem
  height: 5rem
  padding: 1.5rem
  margin: auto auto auto 0
  display: flex
  align-items: center
  justify-content: center
  grid-area: navToggle
  position: absolute
  left: .5rem
  top: 50%
  transform: translateY(-50%)

  .nav-mobile--opened &
    z-index: 15
    left: auto
    right: 2rem

  .header-search--active &
    display: none

  span
    position: relative
    display: block
    width: 100%
    height: 1px
    color: $clr-main
    box-shadow: 0 -6px, 0 6px
    transition: all 150ms 300ms linear

    .nav-mobile--opened &
      transition: all 150ms 0ms linear
      box-shadow: none
      color: white


    &:before,
    &:after
      content: ''
      position: absolute
      height: 1px
      left: 0
      width: 100%
      background: currentColor
      transition: all 300ms 0ms linear

      .nav-mobile--opened &
        transition: all 300ms 150ms linear

    .nav-mobile--opened &:before
      transform: rotate(45deg)

    .nav-mobile--opened &:after
      transform: rotate(-45deg)


  +breakpoint-up(md)
    display: none



// 
+breakpoint-down(sm)
  .button--navDestination
    ~ br,
    ~ .nav
      position: relative
      z-index: 1
      display: none

  .button--active.button--navDestination ~ .nav
    display: block

