.ui-slider
  position: relative
  height: 1.2rem
  border-radius: 1.2rem
  background: rgba($clr-main,.25)
  box-shadow: 1.2rem 0 rgba($clr-main,.25)
  width: calc(100% - 1.2rem)

  .ui-slider-range
    position: absolute
    top: 0
    height: 1.2rem
    border-radius: 1.2rem
    background: rgba($clr-main,.35)
    box-shadow: 1.2rem 0 rgba($clr-main,.35)

  .ui-slider-handle
    position: absolute
    top: 0
    height: 1.2rem
    width: 1.2rem
    border-radius: 1.2rem
    background: rgba($clr-main,.85)
    cursor: pointer
    transition: box-shadow 150ms linear, transform 150ms linear

    // + .ui-slider-handle
    //   margin-left: -1.2rem

    &.ui-state-focus,
    &.ui-state-hover
      background: $clr-main
      box-shadow: 0 0 0 .35rem rgba(white,.15)
      transform: scale(1.1)


+breakpoint-down(sm)
  .ui-slider
    height: 2.2rem
    border-radius: 2.2rem

    .ui-slider-range
      height: 2.2rem
      border-radius: 2.2rem
      box-shadow: 2.2rem 0 rgba($clr-main,.35)

    .ui-slider-handle
      height: 2.2rem
      width: 2.2rem
      border-radius: 2.2rem