// Search header

.search--header
  position: relative
  z-index: 11
  height: $search-container
  display: flex
  flex-flow: row nowrap
  align-items: center

  +breakpoint-down(sm)
    height: auto
    width: 100%

  .search-form
    position: relative
    white-space: nowrap
    display: flex
    flex-flow: row nowrap
    justify-content: flex-end

    +breakpoint-down(sm)
      width: 100%

  .search-input
    display: inline-block
    border: solid $clr-main
    padding: 0
    border-width: 0 0 1px 0
    background: rgba($clr-main,0)
    height: 4rem
    width: 16rem
    color: $clr-main
    opacity: 0
    visibility: hidden
    max-width: 0
    transition: all 150ms linear

    &:hover,
    &:focus
      outline: 0

    .header-search--active &
      opacity: 1
      visibility: visible
      max-width: 16rem

      +breakpoint-down(sm)
        max-width: calc(100% - 4rem)
        width: 100%


  .search-submit
    vertical-align: middle
    background-color: rgba($clr-main,0)
    border: 0
    line-height: 1
    padding: 0 0 0 $spacer/2
    cursor: pointer

    &:hover,
    &:focus
      outline: 0
    
  .search-icon
    +retina-image('search.png')


  .search-results
    position: absolute
    right: 0
    top: 100%
    min-width: 35rem
    background: linear-gradient(to right, #181A1C 0%, #181A1C 35%, #26292c 35%, #26292c calc(35% + 1px), #1D2023 calc(35% + 1px), #1D2023 100%)
    transition: all 150ms linear
    opacity: 0
    visibility: hidden

    +breakpoint-down(sm)
      left: -2rem
      right: -2rem
      height: calc(100vh - #{$header-height})
      overflow: auto

    .header-search--hasResults &
      opacity: 1
      visibility: visible

  .search-resultsRow
    display: flex
    flex-flow: row nowrap
    box-shadow: inset 0 -1px #3c3c3e
    font-size: 1.2rem
    line-height: 1.75

    &:last-of-type
      box-shadow: none

  .search-resultsCategory
    padding: $spacer*.75
    text-transform: uppercase
    letter-spacing: .05em
    font-weight: 500
    color: $clr-main
    flex: 0 0 35%

  .search-resultsItems
    padding: $spacer*.75
    flex: 0 0 65%

  .search-resultsItem
    display: block
    color: $clr-main

    &:hover
      text-decoration: underline