.search--section
  // reset
  // smaller gaps
  +breakpoint-up(md)
    .container--fluid,
    [class*="container--"]
      padding-right: $spacer
      padding-left: $spacer
    .grid
      margin-right: -1*$spacer
      margin-left: -1*$spacer
    .col,
    [class*="col--"]
      padding-right: $spacer
      padding-left: $spacer


  // search styles
  .search-results
    color: white
    font-weight: 500

    +breakpoint-down(sm)
      background: transparent !important
      font-size: 1.4rem
      font-weight: 400

      strong
        font-size: 1.6rem
        font-weight: 600


  .search-quick
    background: #ebebeb

    .select
      margin-bottom: .1rem

    .select-group
      margin-left: -.05rem
      margin-right: -.05rem

      .select
        margin-left: .05rem
        margin-right: .05rem


  .search-clear
    font-size: 1.1rem
    font-weight: 600
    letter-spacing: .1em  
    color: $clr-main
    text-transform: none
    text-decoration: underline

    &:hover
      text-decoration: none

  .search-filterHeader,
  .search-sectionHeader
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: space-between
    text-transform: uppercase
    letter-spacing: .1em
    font-weight: 500

    > span
      margin-right: auto
      margin-left: 0
    .search-clear
      margin-left: auto
      margin-right: 0

  .search-filterHeader
    color: white
    
  .search-sectionHeader
    color: rgba(white,.75)
    font-size: 1.1rem
    margin-bottom: $spacer

  .search-filter
    color: white

  .search-section
    padding: $spacer*2
    border-bottom: 1px solid rgba($clr-main,.45)

    &:last-of-type
      border-bottom: 0

  .search-section--query
    padding-bottom: 0
    border-bottom: 0

  .search-section
    .checkbox
      margin-bottom: $spacer/2
      font-family: $serif-family
      font-size: 1.1rem
      letter-spacing: .05em
      font-weight: 600
      font-style: italic

    +breakpoint-up(md)
      .search-checkboxes-2columns
        columns: 2
        column-gap: $spacer

        > .checkbox
          display: block
          overflow: auto

  .search-priceValues
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    margin-bottom: $spacer

  .search-price
    width: calc(50% - #{$spacer})
    display: block
    position: relative
    padding: 1.25em
    line-height: 1em
    font-size: 1.2rem
    font-weight: 600
    text-align: center
    background: transparent
    border: 1px solid rgba(white,.75)
    border-radius: .1em
    color: white

    +breakpoint-down(sm)
      border-color: $clr-main
      font-size: 1.4rem
      font-weight: 300
      padding: .75rem 1.25rem
      letter-spacing: .1em
      line-height: 2rem
      border-radius: 0
      width: calc(50% - #{$spacer*2})

  .search-price--from
    margin-left: 0
    margin-right: auto

    +breakpoint-down(sm)
      margin-left: $spacer

  .search-price--to
    margin-left: auto
    margin-right: 0

    +breakpoint-down(sm)
      margin-right: $spacer


  .search-order
    .select
      width: 25%
      margin-right: $spacer*2

    +breakpoint-down(md)
      display: flex
      flex-flow: row nowrap

      .select
        margin-right: 0
        width: calc(100% / 3)
        margin-left: -1px
        border-color: rgba(white,.15)

        select
          font-size: 1.1rem
          line-height: 1.25
          width: 100%


  .search-filterTrigger
    position: relative
    display: flex
    flex-flow: row nowrap
    align-items: center
    justify-content: center
    text-align: center
    padding: $spacer $spacer*3
    font-weight: 300
    text-transform: uppercase
    letter-spacing: .25em
    font-size: 1.4rem
    cursor: pointer

    .search-wrap--opened &
      background: transparent
      border-bottom: 1px solid rgba($clr-main,.45)
      flex: 0 0 auto

    small
      font-size: 75%
      opacity: .75
      letter-spacing: .1em

    .icon--arrow
      position: absolute
      right: 4rem
      top: 50%
      transform: translateY(-50%) scale(.75)

      .search-wrap--opened &
        transform: translateY(-50%) scale(.75) rotate(90deg)


.search-filters--mobile

  .search-wrap--opened &
    position: fixed
    top: 0
    left: 0
    display: flex
    flex-flow: column nowrap
    width: 100vw
    height: 100vh
    overflow: auto
    z-index: 100
    background: $clr-alt

  .search-filterQuery
    background: #1c1c1c
    display: flex
    flex-flow: row nowrap
    padding: 2.5rem 4rem
    flex: 0 0 auto

    // show
    body:not(.search-wrap--opened) &
      display: none

    // elements
    [class*="icon"]
      flex: 0 0 auto

    .icon--search
      margin-left: 0
      margin-right: 1.5rem

    .icon--close
      margin-right: 0
      margin-left: 1.5rem

    input
      flex: 1 1 auto
      border-width: 0
      color: $clr-main
      font-weight: 400
      padding: 0
      height: 2.5rem
      line-height: 2.5rem
      font-size: 1.3rem

      +placeholder
        color: $clr-gray
        font-weight: 400
        font-size: 1.3rem
        line-height: 2.5rem


  .search-filtersWrap
    flex: 1 1 auto

    // hide
    body:not(.search-wrap--opened) &
      display: none

    .search-filter
    .search-filterTitle
      position: relative
      display: block
      text-align: center
      padding: $spacer $spacer*3
      font-weight: 300
      text-transform: uppercase
      letter-spacing: .25em
      font-size: 1.4rem
      border-bottom: 1px solid rgba($clr-main,.45)
      cursor: pointer

      .icon--arrow
        position: absolute
        right: 4rem
        top: 50%
        transform: translateY(-50%) scale(.75)

    .toggle-checkbox:checked

      ~ .search-filterTitle
        border-color: rgba($clr-main,0)

        .icon--arrow
          transform: translateY(-50%) scale(.75) rotate(90deg)

    .search-filterItems
      position: relative
      padding: 5.5rem 4rem
      background: #2E2E2E
      text-align: center

    .search-filterItems--rating
      padding-top: 4rem
      padding-bottom: 4rem

    .search-filterItems--price
      padding-top: 3rem
      padding-bottom: 3rem

    .search-filterItem
      display: inline-block
      vertical-align: top
      padding: .5rem
      font-family: $serif-family
      font-size: 1.2rem
      font-style: italic
      letter-spacing: .1em
      font-weight: 600
      color: white

    .search-filterItemRemove
      position: relative
      display: inline-block
      width: 1.4rem
      height: 1.4rem
      margin-left: .5rem
      border-radius: 1.4rem
      background: white
      cursor: pointer

      &:before,
      &:after
        content: ''
        position: absolute
        top: 50%
        left: 50%
        width: 1rem
        height: 1px
        background: #2E2E2E

      &:before
        transform: translate(-50%,-50%) rotate(45deg)

      &:after
        transform: translate(-50%,-50%) rotate(-45deg)

    .search-addFilterItem
      z-index: 11
      position: absolute
      right: 4rem
      top: 2rem
      padding: 0
      max-width: none
      border: 0
      width: 2rem
      height: 2rem

      select
        padding: 2rem 0 0
        height: 2rem
        width: 2rem
        +retina-image('plus.png')
        background-position: center
        background-repeat: no-repeat

      &:before
        content: ''
        @extend %align--xy--center
        +retina-image('plus.png')
        display: none !important


    .search-filter .rate
      margin-top: 1rem


  .search-filterResults
    flex: 0 0 auto
    padding: 2rem 4rem
    margin-top: auto
    margin-bottom: 0

    // hide
    body:not(.search-wrap--opened) &
      display: none