.section--wide
.section-title
  color: $clr-text
  text-transform: uppercase
  font-weight: 400
  letter-spacing: .1em
  font-size: 1.1rem

  +breakpoint-down(md)
    font-size: 1.3rem
    font-weight: 600

    span
      font-weight: 400