// Hide slide items until initialized
.slider
  .slider-inner:not(.slick-initialized)
    .slider-item + .slider-item
      display: none

.carousel:not(.slick-initialized)
  .tour--listItem + .tour--listItem
    display: none



.slider--big,
.slider--medium
  position: relative
  display: grid
  grid-template-columns: 100% 100%
  white-space: nowrap

  .slider-container
    width: 100%
    height: 100%
    z-index: 1
    margin-left: -100%
    background: linear-gradient(60deg,black,rgba(0,0,0,0) 75%)

    +breakpoint-down(sm)
      background: linear-gradient(to top,rgba(0,0,0,0.75),rgba(0,0,0,0) 75%)


    > div
      display: flex
      flex-flow: column nowrap
      align-items: flex-start
      justify-content: space-between
      min-height: 100%

    h3
      color: $clr-main
      font-style: italic
      margin-bottom: $spacer/2

      +breakpoint-down(sm)
        color: white
        font-size: 1.8rem
        line-height: 1.5


  .slider-item
    position: relative
    width: 100%
    height: 100%

    &:not(img)
      background-size: cover
      background-position: center
      background-repeat: no-repeat


  .slick-dots
    +breakpoint-down(sm)
      display: none !important


  // Slick
  .slick-slider
    position: relative

  .slick-list,
  .slick-track
    height: 100%

  .slider-actions
    +breakpoint-down(sm)
      position: absolute
      z-index: 1
      top: calc(50% - 1rem)
      left: 1rem
      right: 1rem
      height: 0
      display: flex
      flex-flow: row nowrap
      justify-content: space-between

  .slick-arrow
    position: relative
    width: 8rem
    height: 8rem
    text-indent: -999em
    font-size: 0
    background: rgba($clr-main,0)
    border: 1px solid $clr-main
    transition: all 150ms linear

    +breakpoint-down(sm)
      width: 2rem
      height: 2rem
      border-width: 0

    &:before
      content: ''
      @extend %align--xy--center
      +breakpoint-down(sm)
        top: calc(50% - 1rem)
        left: calc(50% - 1rem)


    &:hover
      cursor: pointer
      background: rgba($clr-main,0.15)

    &:focus
      outline: 0

  .slick-arrow + .slick-arrow
    margin-left: -1px

  .slick-prev:before
    +retina-image('slider-left.png')

    +breakpoint-down(sm)
      +retina-image('arrow-right--white.png')
      transform: rotate(180deg)

  .slick-next:before
    +retina-image('slider-right.png')

    +breakpoint-down(sm)
      +retina-image('arrow-right--white.png')
      transform: none


// Slider small

.slider--small
  position: relative
  display: grid
  grid-template-columns: 100% 100%
  white-space: nowrap

  .slider-inner
    position: relative

    &:before
      content: ''
      z-index: 1
      position: absolute
      left: 0
      bottom: 0
      width: 100%
      height: 50%
      background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.85))
      pointer-events: none

  .slider-container
    position: absolute
    left: 0
    width: 100%
    height: 0
    bottom: 0

  .slider-actions
    z-index: 2
    position: absolute
    left: 0
    bottom: 0
    width: 100%
    height: 50%
    background: linear-gradient(to bottom,rgba(0,0,0,0),rgba(0,0,0,.85))

  // Slick
  .slick-slider
    position: relative

  .slick-dots
    display: none

  .slick-arrow
    position: absolute
    bottom: 2rem
    width: 4rem
    height: 4rem
    text-indent: -999em
    font-size: 0
    background: rgba($clr-main,0)
    border: 0
    transition: all 150ms linear

    &:before
      content: ''
      @extend %align--xy--center

    &:hover
      cursor: pointer
      background: rgba($clr-main,0.15)

    &:focus
      outline: 0

  .slick-prev
    left: $spacer

    &:before
      +retina-image('slider-left--small.png')

  .slick-next
    right: $spacer

    &:before
      +retina-image('slider-right--small.png')


  .slider-expand
    pointer-events: none
    position: absolute
    z-index: 2
    @extend %align--x--center
    bottom: 2rem
    font-size: 1.1rem
    color: $clr-main
    text-align: center

    &:before
      content: ''
      +retina-image('expand.png')
      display: block
      margin-left: auto
      margin-right: auto
      margin-bottom: $spacer/4


.carousel .slick-dots
  position: relative
  bottom: 0
  transform: none
  left: 0
  top: 0
  margin-top: $spacer*2


//------------------------------------//
//  Dots
//------------------------------------//

.slick-dots
  z-index: 2
  padding: 0
  margin: 0
  position: absolute
  bottom: $spacer
  left: 50%
  transform: translateX(-50%)
  text-align: center
  font-size: 0

  li
    display: inline-block
    vertical-align: top

  li button
    background: rgba($clr-main,0)
    border: 0
    padding: 0
    margin: 0
    width: 1.2rem
    height: 1.2rem
    margin: 0 .75rem
    box-shadow: 0 0 0 1px $clr-main
    transition: all .4s ease
    text-indent: -999em
    overflow: hidden
    border-radius: 10rem

  li.slick-active button,
  li button:focus,
  li button:hover
    box-shadow: 0 0 0 1px $clr-main, inset 0 0 0 16px $clr-main
    outline: 0
