
.social--footer
  white-space: nowrap
  margin-right: auto
  margin-left: 0

  +breakpoint-up(lg)
    margin-right: $spacer
    margin-left: auto

  > a
    display: inline-block
    vertical-align: bottom

    +breakpoint-down(sm)
      text-align: left

  .fa
    font-size: 2rem
    padding: 0 $spacer/4
    width: 3.2rem

    +breakpoint-down(sm)
      width: 4rem
      font-size: 2.4rem
      padding: 0 $spacer/2 0 0