.temperature-widget
  display: flex
  flex-flow: row nowrap
  align-items: flex-end
  padding-top: 7rem
  width: 100%

  +breakpoint-down(md)
    overflow: auto
    white-space: nowrap
    padding-top: 12rem
    margin-left: -2rem
    margin-right: -2rem
    width: 100vw
    padding-left: 2rem
    padding-right: 2rem

.temperature-month
  position: relative
  flex: 0 0 calc(100% / 12)
  text-align: center
  font-family: $serif-family

  +breakpoint-down(md)
    min-width: 9.4rem

.temperature-monthTitle
  position: absolute
  left: 50%
  bottom: 100%
  transform: rotate(-45deg) translate(0,-100%)
  transform-origin: left top

.temperature-monthVisual
  position: relative
  margin-bottom: $spacer

  &:before
    display: block
    content: ""
    width: 100%
    padding-top: 100%

.temperature-monthVisualInner
  position: relative
  position: absolute
  top: 50%
  left: 50%
  width: 100%
  height: 0
  padding-top: 100%
  transform: translate(-50%,-50%)

  &:after
    position: absolute
    top: 50%
    left: 50%
    width: 100%
    height: 0
    padding-top: 100%
    transform: translate(-50%,-50%)
    content: ""
    background: $clr-main
    border-radius: 50rem


.temperature-widget--half

  .temperature-monthVisual:before
    padding-top: 50%

  .temperature-monthVisualInner
    padding-top: 50%

    &:after
      top: 0
      padding-top: 50%
      border-radius: 0 0 50rem 50rem
      transform: translate(-50%,0)


.temperature-widget--striped
  .temperature-monthVisualInner:after
    background: repeating-linear-gradient(-45deg, $clr-main, $clr-main 2px, rgba($clr-main,0) 2px, rgba($clr-main,0) 4px)

