.text-widget

  .p--icon--plane
    position: relative

    &:before
      content: ''
      +retina-image('plane.png')
      position: absolute
      left: 0
      top: .5rem

  .p--offset--left
    padding-left: 5rem

  