.tour-list

.tour--listItem
  margin: 0 $spacer
  text-align: center

  .tour-inner
    +breakpoint-down(md)
      margin-left: auto
      margin-right: auto
      max-width: 34rem

    +breakpoint-down(sm)
      max-width: none

  .tour-inner img
    width: 100%

  .tour-info  
    position: relative
    // padding: $spacer
    padding: $spacer*2 $spacer*2 $spacer*1.5
    color: white
    font-family: $serif-family

  .tour-title
    font-size: 1.3rem
    line-height: 1.5
    margin-bottom: $spacer/8
    text-transform: uppercase

  .tour-location
    font-style: italic
    font-size: 1.2rem
    margin-bottom: $spacer/2

  .tour-rate
    text-align: center
  .tour-details
    display: flex
    flex-flow: row nowrap
    align-item: flex-end
    justify-content: space-between

  .tour-vip
    margin-left: 0
    margin-right: auto
    max-width: 50%
    +retina-image('vip-badge.png')
    background-position: center bottom
    display: none

    @at-root
      .tour--vip .tour-vip
        display: block



  .tour-meta
    margin-right: 0
    margin-left: auto
    flex: 0 0 auto
    text-align: left
    line-height: 1.25

  .tour-meta small
    font-size: 1.1rem
    font-style: italic
    color: $clr-gray

  .tour-price
    font-family: $font-family
    font-size: 1.4rem
    line-height: 1


  .tour-duration

.tour-badge
  z-index: 1
  position: absolute
  left: 50%
  bottom: 100%
  transform: translateX(-50%)
  margin-bottom: -2.5rem

  +breakpoint-down(sm)
    left: auto
    right: 2rem
    bottom: 100%
    transform: none
    margin-bottom: 6rem


.tour-badge--gold
  +retina-image('badge--gold.png')
.tour-badge--bronze
  +retina-image('badge--bronze.png')
.tour-badge--platinum
  +retina-image('badge--platinum.png')

.tour-list--popular
  padding: 0 $spacer

  .tour--listItem
    margin: 0 $spacer
    width: 36rem


.tour-list--search
  .tour--listItem
    margin: 0 0 $spacer*2
    width: 100%

    .tour-price
      font-size: 1.8rem