

$clr-main             : #aa9562
$clr-border           : $clr-main
$clr-hr               : $clr-border
$clr-alt              : #262626
$clr-dark             : #434A54
$clr-light            : #F5F7FA
$clr-gray             : #bfbfbf
$clr-text             : rgb(170,150,99)
$clr-text-faded       : #6b6b6b

$clr-link             : $clr-main

$clr-input-background : #dfdfdf
$clr-input-border     : #dfdfdf

$clr-body-background  : white
$clr-header-background: #1d1d1d
$clr-header-background: rgba(#1d1d1d,.85)
$clr-header-background--mobile: #141414
$clr-subnav-background: #262626
$clr-footer-background: #0e0e0b



//------------------------------------//
//  Variants
//------------------------------------*/

$bg-lighten: (rgba(white,.05),rgba(white,.15),rgba(white,.35),rgba(white,.5),rgba(white,.75),rgba(white,.95))
$bg-darken:  (rgba(black,.05),rgba(black,.15),rgba(black,.35),rgba(black,.5),rgba(black,.75),rgba(black,.95))
$color-variants: (1: (#063c4a,#064759, #15586A),2: #5d251f,3: #292643, 4: #2A2A2A)


@function color-variant($key,$sub:1)
  @return nth(map-get($color-variants, $key),$sub)

@for $i from 1 through length($bg-lighten)
  .bg-lighten--#{$i}
    background-color: nth($bg-lighten,$i)

@for $i from 1 through length($bg-darken)
  .bg-darken--#{$i}
    background-color: nth($bg-darken,$i)

@each $color-name, $color-code in $color-variants

  @for $i from 1 through length($color-code)

    .color-variant-#{$color-name}--#{$i}
      color: #{nth($color-code,$i)}

    .bg-variant-#{$color-name}--#{$i}
      background-color: #{nth($color-code,$i)}

