=retina-image($image,$path:'../images')
  display: inline-block
  background-image: url($path+'/1x/#{$image}')
  width: image-width($path+'/1x/#{$image}')
  height: image-height($path+'/1x/#{$image}')
  background-size: 100%
  background-repeat: no-repeat

  +retina
    background-image: url($path+'/2x/#{$image}')