//------------------------------------//
//  border bottom thin
//------------------------------------*/

%border--thin--bottom,
.border--thin--bottom
  box-shadow: inset 0 -1px lighten($clr-border, 5%)

  +retina
    box-shadow: none
    background-image: linear-gradient(0deg, $clr-border, $clr-border 50%, transparent 50%)
    background-size: 100% 1px
    background-repeat: no-repeat
    background-position: bottom

%border--thin--top,
.border--thin--top
  box-shadow: inset 0 1px lighten($clr-border, 5%)

  +retina
    box-shadow: none
    background-image: linear-gradient(0deg, $clr-border, $clr-border 50%, transparent 50%)
    background-size: 100% 1px
    background-repeat: no-repeat
    background-position: top

%border--thin--left,
.border--thin--left
  box-shadow: inset 1px 0 lighten($clr-border, 5%)

  +retina
    box-shadow: none
    background-image: linear-gradient(to bottom, $clr-border, $clr-border 100%)
    background-size: 1px 100%
    background-repeat: no-repeat
    background-position: left

%border--thin--right,
.border--thin--right
  box-shadow: inset -1px 0 lighten($clr-border, 5%)

  +retina
    box-shadow: none
    background-image: linear-gradient(to bottom, $clr-border, $clr-border 100%)
    background-size: 1px 100%
    background-repeat: no-repeat
    background-position: right


//
// Remove borders
//

.border--0
  border: 0 !important

.border--top--0
  border-top: 0 !important

.border--right--0
  border-right: 0 !important

.border--bottom--0
  border-bottom: 0 !important

.border--left--0
  border-left: 0 !important


//
// border-radius
//

.rounded
  border-radius: $border-radius

.rounded--top
  border-top-left-radius: $border-radius
  border-top-right-radius: $border-radius

.rounded--right
  border-top-right-radius: $border-radius
  border-bottom-right-radius: $border-radius

.rounded--bottom
  border-bottom-left-radius: $border-radius
  border-bottom-right-radius: $border-radius

.rounded--left
  border-top-left-radius: $border-radius
  border-bottom-left-radius: $border-radius


.rounded--circle
  border-radius: 50%


.rounded--0
  border-radius: 0

