
%image--contain,
.image--contain
  display: block
  max-width: 100%
  height: auto


  
@each $bp in map-keys($breakpoints)
  +breakpoint-up($bp)

    $bp: breakpoint-infix($bp, $breakpoints)

    img.image#{$bp}--right
      display: block
      margin-left: auto
      margin-right: 0

    img.image#{$bp}--left
      display: block
      margin-left: 0
      margin-right: auto

    img.image#{$bp}--center
      display: block
      margin-left: auto
      margin-right: auto